
$text_color: #2d2d2d;
$bg_color: #f6f6f6;
$btn_color: #a80851;
@mixin list {
  display: inline-block;
  margin: 0 20px 0 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 1px;
}
@mixin anchor {
  color: $text_color;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: .2s;
}
@mixin hover {
  color: $text_color;
  border-bottom: 2px solid $text_color;
  transition: .2s;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {content:'';}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;

}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: $bg_color;
  color: $text_color;
  font-family: 'Arial', 'Helvetica';
  font-size: 16px;
  line-height: 1.5;
}

h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4, h5, h6 {font-size: 18px;}

a {color: $btn_color}
a:hover {color: #e889b4}

header, footer, main {
    width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


header {
  padding: 50px 0 30px;
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  ul li {
    @include list;
  }

  ul a {
    @include anchor;
  }

  ul a:hover,
  ul a.active {
    @include hover;
  }

  nav#languange {
    margin: 0 0 10px;
    display: flex;
    flex-direction: row-reverse;

    ul li {
      background-color: $text_color;
      color: $bg_color;
      padding: 4px 6px;
      border-radius: 50%;
      transition: .2s;
      font-size: 10px;
      text-decoration: none;


      &:hover,
      &.active {
        background-color: $btn_color;
        transition: .2s;
      }

      a {
        color: $bg_color;
        border-bottom: none;
        cursor: pointer;
      }
      abbr {
        text-decoration: none;
      }
    }
  }
}
.menu {
  display: flex;
  flex-direction: row-reverse;
}


main {
  flex-grow: 1;
  line-height: 1.8;

  h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $text_color;
    margin: 0 0 20px 0;
  }

  h1 {
    text-align: center;
    margin: 30px 0 50px;
  }

  .article-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 0;
    margin: 30px 0 0 0;

    article {
      background-color: #fff;
      margin: 10px 0 0 0;
      flex-basis: calc(33% - 4px);

      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .details {
        padding: 30px;
        box-sizing: border-box;
        font-size: 14px;
        color: #7d7d7d;
        flex-grow: 1;
      }

      h2 {
        font-weight: 400px;
        font-size: 18px;
        color: $text_color;
      }

      img {
        width: 100%;
        height: auto;
        opacity: 1s;
        transition: .3s;
      }

      &:hover img {
        opacity: .75;
        transition: .3s;
      }

      .secondary {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 30px;
        box-sizing: border-box;
        font-size: 12px;



          &:after {
            display: block;
            position: absolute;
            content: '|';
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
  .views {
    font-size: 16px;
    font-weight: 600;
    display: block;
    position: relative;
    padding: 0 0 0 16px;
  .more {
    margin: 20px auto 10px;
    background-color: $btn_color;
    color: #fff;
    border-radius: 5px;
    padding: 4px 10px;
    transition: .2s;
    cursor: pointer;
    display: table;

    &:hover {
      background-color: #e889b4;
      transition: .2s;
    }
  }
}

footer {
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  border-top: 1px solid #4d4d4d;

  ul li {
    @include list;
  }

  ul a {
    @include anchor;

    &:hover,
    &.active {
      @include hover;
    }
  }
  small {
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
  }
}

.scrolltop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.75);
  opacity: .75;
  cursor: pointer;
  transition: .3s;

  &:hover {
    opacity: 1;
    transition: .3s;
  }

  &:after {
    content: "|";
    width: 100%;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
  }
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  margin: 40px 0 0 0;

  .details {
      padding: 10px;
    }


  article {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      margin: 0 20px 20px 0;
      width: 70%;
      max-width: calc(100%-320px);
      flex-grow: 1;

      h1 {
        margin: 30px 0;
      }

      .details {
        padding: 20px;

      .secondary {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        color: #999;
      }

      img {
        margin: 0 0 20px;
        width: 60%;
        height: auto;
      }
    }
  }
  aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 300px;

    a {
      text-decoration: none;
      display: block;
      background-color: #fff;
      margin: 0 0 20px;
    }

    .tags {
      display: flex;
      flex-flow: row wrap;
      background-color: #fff;
      padding: 20px;
      margin: 0 0 20px;

      a {
        background-color: $btn_color;
        color: #fff;
        border-radius: 5px;
        padding: 4px 10px;
        margin: 0 10px 10px 0;
        transition: .2s;

        &:hover {
          background-color: #e889b4;
          transition: .2s;
        }
      }
    }

    p {
      font-size: 14px;
      line-height: 1.4;
      color: #666;
    }
    h2 {
      text-transform: none;
      font-size: 18px;
      line-height: 1.3;
      margin: 0 0 12px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.notfound {
  text-align: center;
  font-size: 32px;
  margin: 30px 0;

  p {
    margin: 0 0 20px;
  }

  .small {
    font-size: 22px;
  }

  h1 {
    font-size: 46px;
  }

  .sad {
    position: relative;
    min-height: 120px;

    &:after {
      position: absolute;
      content: ':(';
      color: #999;
      font-size: 120px;
      line-height: 1;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}
@media (max-width: 800px) {

  header {
    display: block;
    padding: 10px 0 0;

    nav ul {
      display: flex;
      flex-direction: column;
    }
    nav#languange {
      margin: 20px 0 10px;
      flex-direction: row;
    }

    ul li {
      margin: 0 20px 20px 0;
    }
  }

  main h1 {
    margin: 20px 0 30px;
  }

  .article-holder {
    margin: 20px 0 0 ;

    article {
      flex-basis: calc(50%-5px);
    }
  }

  .scrolltop {
    bottom: 20px;
    right: 20px;
  }

  .wrapper article {
      display: block;
      margin: 0 0 20px 0;
  }

  .wrapper {
    flex-direction: column;

    article {
      display: block;
      margin: 0 0 20px;
    }

    aside, article {
      max-width: 100%;
      width: 100%;
    }

    aside img {
      width: 50px;
      border-radius: 50%;
      margin-left: 10px;
    }

    aside a {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0 10px;
    }
  }
}
@media (max-width: 600px) {

  .article-holder article {
    flex-basis: 100%;
  }
  .scrolltop {
    bottom: 10px;
    right: 10px;
  }
}
